[Unit]
Description=MPRIS implementation for MPD
Requires=mpd.service
After=mpd.service

[Service]
Type=simple
ExecStart=/usr/bin/mpd-mpris

[Install]
WantedBy=default.target