[submodule ".config/tmux"]
	path = .config/tmux
	url = https://github.com/gpakosz/.tmux.git
[submodule ".config/emacs/private/conlanging"]
	path = fromGIT/emacs-packages/conlanging
	url = https://labs.phundrak.com/phundrak/conlang-layer
[submodule ".mozilla/firefox/lruehqec.default/chrome"]
	path = .mozilla/firefox/lruehqec.default/chrome
	url = git@labs.phundrak.com:phundrak/blurredfox-nord.git
