
\.emacs\.d
\.spacemacs\.before_ecb_2\.50
/.config/.ncmpcpp/error.log
/.config/mpd/log
.config/mpd/log

\.config/mpd/state

\.config/mpd/pid
/.config/mpv/watch_later/13AB0D2614969EFE70C38F82C0957DFC
/.config/mpv/watch_later/9F499767C1E72049EAD927CC571282F1
.config/mpd/database
/.config/mpv/watch_later/AB7444F088FE5AB0D85BF0939606DB3B

*.part3~

\.config/mpv/watch_later/

\.config/mpd/playlists/

\.config/i3/config~
*~
*.bak
/Wallpapers/06-DESKTOP_dog_gender.png
/Wallpapers/06_DESKTOP_noun_case.png

\.config/ranger/history

\.config/ranger/tagged

\.config/ranger/bookmarks

\.config/ranger/ranger

completer.hist
