[submodule ".config/tmux"]
        path = .config/tmux
        url = git@github.com:gpakosz/.tmux.git
[submodule ".emacs.d"]
        path = .emacs.d
        url = git@github.com:plexus/chemacs2.git
[submodule ".emacs.doom"]
        path = .emacs.doom
        url = git@github.com:hlissner/doom-emacs.git
[submodule ".emacs.spacemacs"]
        path = .emacs.spacemacs
        url = git@github.com:syl20bnr/spacemacs.git
