set autoindent
set backup
set boldtext
set constantshow
set linenumbers
set morespace
set smarthome
set smooth
set softwrap
set tabsize 2
set tabstospaces
include /usr/share/nano/nanorc.nanorc
include /usr/share/nano/asm.nanorc
include /usr/share/nano/autoconf.nanorc
include /usr/share/nano/changelog.nanorc
include /usr/share/nano/c.nanorc
include /usr/share/nano/cmake.nanorc
include /usr/share/nano/css.nanorc
include /usr/share/nano/default.nanorc
include /usr/share/nano/html.nanorc
include /usr/share/nano/java.nanorc
include /usr/share/nano/javascript.nanorc
include /usr/share/nano/json.nanorc
include /usr/share/nano/makefile.nanorc
include /usr/share/nano/man.nanorc
include /usr/share/nano/nanohelp.nanorc
include /usr/share/nano/python.nanorc
include /usr/share/nano/rust.nanorc
include /usr/share/nano/sh.nanorc
include /usr/share/nano/tex.nanorc
include /usr/share/nano/xml.nanorc
include /usr/share/nano/yaml.nanorc
