set atblanks

set autoindent

set backup
set backupdir /home/phundrak/.cache/nano/backups/

set boldtext

unset casesensitive

set constantshow

set linenumbers

set regexp

set smarthome

set softwrap

set tabsize 2

set tabstospaces

set trimblanks

set unix

include ~/.config/nanorc/*.nanorc
