set backup
set backupdir /home/phundrak/.cache/nano/backups/

set unix

set smarthome

unset casesensitive

set regexp

set boldtext

set softwrap

set atblanks

set linenumbers

set constantshow

set tabstospaces

set tabsize 2

set autoindent

set trimblanks

include ~/.config/nanorc/*.nanorc
