URxvt.scrollBar: false
URxvt.internalBorder: 0
URxvt.externalBorder: 0
URxvt.borderLess: true
URxvt.transparent: true
URxvt.shading: 40
URxvt.fading: 2%
URxvt.depth: 16
URxvt.fadeColor: grey
UXTerm*faceName: Source Code Pro for Powerline:style=book
! UXTerm*faceName: Dejavu Sans Mono for Powerline:style=book
UXTerm*faceNameDoublesize: IPAGothic:style=Regular
UXTerm*faceSize: 9
UXTerm*borderLess: true
UXTerm*externalBorder: 0
UXTerm*internalBorder: 0
URxvt.font: xft:Source Code Pro for Powerline:pixelsize=9

st.font: Source Code Pro for Powerline:style=book
st.shell: fish
