[Desktop Entry]
Version=1.5
Name=FlowScape
Comment=Create gorgeous 3D landscapes with ease.
Exec=/usr/bin/primusrun /home/phundrak/FlowScape/FlowScape.x86_64
Path=/home/phundrak/FlowScape
Icon=/home/phundrak/FlowScape/icon.jpg
Terminal=false
Type=Application
Categories=Graphics
