[Desktop Entry]
Name=Gnus (Emacs)
GenericName=Mail Client
Comment=Gnus' X handler
MimeType=x-scheme-handler/mailto;
Exec=emacsmail %F
Icon=emacs
Type=Application
Terminal=false
Categories=Network;Email;TextEditor;
StartupWMClass=Emacs
Keywords=Text;Editor;Email;Client;Gnus;
